* {
    font-family: 'Poppins', sans-serif;
    background: #000 !important;
    color: #FFF !important;
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
}

.footer {
    clear: both;
    position: relative;
    bottom: 0;
    height: 100px;

}

.text-muted.fs-sm {
    color: aqua !important;
}

div {
    max-width: 100%;
    margin: 0 auto;
}

input::placeholder {
    color: #fff !important;
}

button.navbar-toggler {

    color: #fff !important;
}

span.navbar-toggler-icon {
    background: red !important;
    color: #fff !important;
}

a:hover {
    color: red !important;
}

/* Styling input placeholders */
::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: #fff;
}

::-moz-placeholder {
    /* Firefox 19+ */
    color: #fff;
}

:-ms-input-placeholder {
    /* IE 10+ */
    color: #fff;
}

:-moz-placeholder {
    /* Firefox 18- */
    color: #fff;
}

/* Styling checkbox tick */
.form-check-input::before {

    display: inline-block;
    font-size: 14px;
    color: #fff;
}