* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

body.light {

    background-color: white !important;
    color: black !important;

    i {
        color: #a80f0f !important;
    }

    p {
        color: black !important;
    }

    .card,
    .card-body {
        background-color: white !important;
        color: black !important;
    }

}

body.dark {
    background-color: black !important;
    color: white !important;

    i {
        color: #a80f0f !important;
    }

    p {
        color: white !important;
    }

    .card,
    .card-body {
        background-color: black !important;
        color: white !important;
    }



}

body.light .navbar-nav .nav-link {
    color: black !important;
}

body.dark .navbar-nav .nav-link {
    color: white !important;
}

body.light .navbar-nav .nav-link:hover {
    color: red !important;
}

body.dark .navbar-nav .nav-link:hover {
    color: red !important;
}


/* Footer */
.footer {
    clear: both;
    position: relative;
    bottom: 0;
    height: 100px;
}

.text-muted.fs-sm {
    color: rgb(141, 15, 78) !important;
}

/* Container */
div {
    max-width: 100%;
    margin: 0 auto;
}

a {
    text-decoration: none !important;
    color: black !important;
    font-weight: bold;
}

/* Underline Animation */
.hover-underline-animation {
    display: inline-block;
    position: relative;
}

.hover-underline-animation::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #f01111;
    transform: scaleX(0);
    transition: transform 0.3s ease-in-out;
}

.hover-underline-animation:hover::after {
    transform: scaleX(1);
}

/* Scale Animation */
.hover-scale-animation {
    transition: transform 0.3s ease-in-out;
}

.hover-scale-animation:hover {
    transform: scale(1.05);
}

.sticky-top {
    position: -webkit-sticky !important;
    position: sticky !important;
    top: 0;
    z-index: 1020;
}

.active {
    font-weight: bold;
    background-color: #f01111 !important;
    color: #fff !important;
}



.navbar .nav-link.hover-underline-animation:hover {
    text-decoration: none;
}

/* .btn-subtle {
    background: none;
    border: none;
    color: inherit;
    cursor: pointer;
}

.btn-subtle:hover {
    color: #0056b3;
} */

.loading {
    font-size: 1.5em;
    text-align: center;
    margin-top: 20px;
}

.error {
    color: red;
    text-align: center;
    margin-top: 20px;
}

.search-results {
    padding: 20px;
}

.movie-list {
    list-style-type: none;
    padding: 0;
}

.movie-item {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.movie-item h2 {
    margin: 0 0 10px 0;
}